<div class="footer-about">
	<div class="footer-about-inner">

		<div class="cta-careers">
			Already doing all this?<br>
			<a href="https://www.krishaweb.com/careers" class="button party-blue">Careers at KrishaWeb</a>

		</div>

		<div class="license">
			<p>
				Open source, MIT licensed.<br>
				Copyright {{ site.time | date: '%Y' }}
				<a href="https://x.com/krishaweb">@KrishaWeb</a>
		</div>
	</div>
</div>
<footer role="contentinfo">
	<div class="page-footer-content">
		<a href="https://KrishaWeb.com" class="logo-link">KrishaWeb</a>
		<nav class="page-nav expanded" role="navigation" aria-label="footer-navigation">
			<ul>
				<li><a href="https://KrishaWeb.com">KrishaWeb.com</a></li>
			</ul>
			<div class="footer-social social-networks">
				<a href="https://x.com/krishaweb" class="twitter"><span class="screen-reader-text">Twitter: @KrishaWeb</span></a>
				<a href="https://github.com/KrishaWeb" class="github"><span class="screen-reader-text">Github</span></a>
			</div>
		</nav>
	</div>
</footer>
