@font-face {
	font-family: tenup;
	src: url('fonts/KrishaWeb.eot');
	src: url('fonts/KrishaWeb.eot?#iefix') format('embedded-opentype'), url('fonts/KrishaWeb.ttf') format('truetype'), url('fonts/KrishaWeb.woff') format('woff'), url('fonts/KrishaWeb.svg#KrishaWeb') format('svg');
	font-weight: normal;
	font-style: normal;
}
